<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ngoc.connect_gemini_api.repository.UploadedFileMapper">

    <insert id="insertFile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO uploaded_files
        (filename, original_filename, file_path, mime_type, file_size, user_id, created_at, updated_at)
        VALUES
            (#{filename}, #{originalFilename}, #{filePath}, #{mimeType}, #{fileSize}, #{userId}, NOW(), NOW())
    </insert>

</mapper>